[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
undetected-chromedriver = "*"
hcaptcha-challenger = "*"
requests = "*"
python-dotenv = "*"
python-json-config = "*"
pytest = "*"
openpyxl = "*"
pandas = "*"

[requires]
python_version = "3.10"
